body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.contenedor {
  margin: 25px;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(128,128,128,1);
  -moz-box-shadow: 1px 1px 10px 0px rgba(128,128,128,1);
  box-shadow: 1px 1px 10px 0px rgba(128,128,128,1);
}

header {
  margin: 0px;
  height: 460px;
  -webkit-box-shadow: 0px 3px 8px -1px rgba(181,181,181,1);
  -moz-box-shadow: 0px 3px 8px -1px rgba(181,181,181,1);
  box-shadow: 0px 3px 8px -1px rgba(181,181,181,1);
  background-image: url("../img/banner.jpg");
  background-size: cover; /* Recorta la imagen al 100% de ancho y de alto */
  background-repeat: no-repeat;
}

/* -- ESTILO MENU -- */

nav {
  height: 60px;
  text-align: right;
}

nav ul {
  margin: 0px;
}

nav a {
  color: black;
  font-weight: bold;
  font-size: 0.9em; 
  letter-spacing: 2px;
}

nav a:hover {
  transition: all .2 ease-in-out;
}

nav li {
  display: inline-block;
  padding: 5px;
  margin: 20px 55px 0px 0px;
}

.animation-div {
  height: 3px;
  margin-top: 5px;
  animation: menuAnimationOut 1s;
}

nav li:hover > .animation-div {
    animation: menuAnimationIn 1s;
    animation-fill-mode: forwards;
}

@keyframes menuAnimationIn {
  From { width: 0; } 
  To { width: 100%; background-color: rgb(124, 94, 78); }
}

@keyframes menuAnimationOut {
  From { width: 100%; background-color: rgb(124, 94, 78); } 
  To { width: 0;  }
}

/* FIN MENU */

header h1 {
 margin: 20% 4% 0px 0px;
 font-size: 5em;
 color: rgb(14, 14, 14);
 font-family: 'Overlock SC', cursive;
 text-align: right;
}

/* CONTENEDOR NOTICIAS */

main {
  height: 100%;
  display: grid;
  grid-template-columns: 76% 20%;
}

/* -- ESTILO NOTICIAS -- */

#news article {
  display: inline-block;
  width: 40%;
  margin: 30px;
  color: black;
  border-bottom: 10px solid rgb(167, 130, 112);
  background-color: rgb(243, 243, 243);
  -webkit-box-shadow: 1px 0px 8px -1px rgba(186,186,186,1);
  -moz-box-shadow: 1px 0px 8px -1px rgba(186,186,186,1);
  box-shadow: 1px 0px 8px -1px rgba(186,186,186,1);
  transition: all .3s ease-in;
}

#news article:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

#news article img {
  margin: 0px;
  height: auto; 
  width: auto; 
  max-width: 100%; 
}

#news article h3 {
  margin: 10px 0px 0px 10px;
}

#news article p {
  text-align: justify;
  padding: 10px;
}

/* -- BARRA LATERAL -- */

aside {

}

aside section {
  width: 100%;
  margin-top: 35px;
}

/* INFORMACIÓN */

.info {
  text-align: center;
  border-bottom: 10px solid rgb(167, 130, 112);
  background-color: rgb(243, 243, 243);
  -webkit-box-shadow: 1px 0px 8px -1px rgba(186,186,186,1);
  -moz-box-shadow: 1px 0px 8px -1px rgba(186,186,186,1);
  box-shadow: 1px 0px 8px -1px rgba(186,186,186,1);
}

.info h3 {
  padding-top: 25px;
}

.info img {
  margin: 0;
  height: 100%;
  width: 65px;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
}

.info p {
  padding: 10px;
  text-align: justify;
}

/* PUBLICIDAD */

.adds {
  text-align: center;
  width: 100%;
  opacity: 0.7;
}

.adds img {
  margin: 10px;
  max-width: 100%;
}

/* -- FIN DE BARRA -- */

/* - Canvas - */

.separador-perro {
  margin-top: 40px;
  width: 100%;
  height: 260px;
  background-color: rgb(224, 223, 223);
  background: linear-gradient(141deg, rgb(150, 150, 150) 0%, rgb(224, 223, 223) 55%);
}

#canvas {
  margin-top: 60px;
  margin-left: 35px;
}

/* -- ABOUT --*/

#about {
  text-align: center;
  margin: 60px;
}

#about section {
  display: inline-block;
  width: 16%;
  text-align: center;
  padding: 20px;
  margin-left: 10px;
  border-top: 10px solid rgb(179, 139, 120);
  background-color: rgb(231, 231, 231);
  -webkit-box-shadow: -1px 5px 12px -1px rgba(168,168,168,1);
  -moz-box-shadow: -1px 5px 12px -1px rgba(168,168,168,1);
  box-shadow: -1px 5px 12px -1px rgba(168,168,168,1);
}

#about section img {
  margin: 0px;
  padding: 5px;
}

#about section p {
  text-align: justify;
}

/* -- CONTACT --*/

#contact {
  background-color: rgb(230, 228, 228);
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto;
  width: 100%;
}

.formulario {
  width: 100%;
  margin: 20px;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
}

#contact span {
  margin: 4%;
}

.input-resize {
  display: block;
  margin: 5px 5px 10px 4%;
  border: 0px;
  width: 48%;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 10px -2px rgba(179,179,179,1);
  -moz-box-shadow: 3px 3px 10px -2px rgba(179,179,179,1);
  box-shadow: 3px 3px 10px -2px rgba(179,179,179,1);
}

input:focus:required:invalid {
  border: 2px solid red;
}

.input-button {
  display: block;
  margin: 5px 5px 10px 4%;
  border: 0px;
  padding: 15px;
  width: 15%;
  background-color: rgb(179, 179, 179);
  -webkit-box-shadow: 3px 3px 10px -2px rgba(179,179,179,1);
  -moz-box-shadow: 3px 3px 10px -2px rgba(179,179,179,1);
  box-shadow: 3px 3px 10px -2px rgba(179,179,179,1);
}

#contact textarea {
  display: block;
  margin: 5px 5px 10px 4%;
  border: 0px;
  width: 52%;
  height: 100px;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 10px -2px rgba(179,179,179,1);
  -moz-box-shadow: 3px 3px 10px -2px rgba(179,179,179,1);
  box-shadow: 3px 3px 10px -2px rgba(179,179,179,1);
}

/* MAPA */

.mapa {
  margin: 5% 1% 3% 4%;
  grid-column-start: 2;
  grid-column-end: 2;
}

.mapa iframe {
  width: 100%;
}

/* -- PIE PÁGINA -- */

footer {
  width: 100%;
  height: 100%;
  background: linear-gradient(141deg, rgb(94, 70, 60) 0%, rgb(146, 113, 98) 51%, rgb(146, 113, 98) 75%);
  display: grid;
  grid-template-columns: 35% auto 40%;
  grid-template-rows: 80px auto;
  -webkit-box-shadow: inset -1px 1px 10px -1px rgba(112,112,112,1);
  -moz-box-shadow: inset -1px 1px 10px -1px rgba(112,112,112,1);
  box-shadow: inset -1px 1px 10px -1px rgba(112,112,112,1);
  position: relative;
}

.titulo_footer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-family: 'Combo', cursive;
  text-align: center;
  font-size: 2.5em;
  margin: auto;
}

.subtitulo_footer {
  grid-row-start: 2;
  grid-row-end: 2;
  font-family: 'Overlock SC', cursive;
  margin-left: 10%;
  font-size: 1.4em;
  font-weight: normal;
}

.social {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  position: absolute;
  bottom: 0;
  left: 0;
}

.social_section {
  display: inline-block;
  padding: 7px;
  margin-right: 8px;
}

.social_section img {
  margin: 0 auto;
}